<div ng-controller="CreditsCtrl">
    <h2>{{credits.pageTitle}}</h2>
    <ul>
        <li>
            <a href="http://www.minecraftforum.net/members/metroidfood">Metroidfood</a> - <span>{{credits.metroidfood}}</span>
        </li>
        <li>
            <a href="http://www.minecraftforum.net/members/NightKosh">NightKosh</a> - <span>{{credits.nightkosh}}</span>
        </li>
    </ul>

    <h2>{{credits.code.title}}</h2>
    <ul>
        <li>
            <a href="http://www.minecraftforum.net/topic/520521-100-doggy-talents-mod-v174-new-gui-and-skill/">RaustBlackDragon</a> - <span>{{credits.code.raustBlackDragon}}</span>
        </li>
    </ul>

    <!--<h2>{{credits.textures.title}}</h2>-->
    <!--<ul>-->
    <!--</ul>-->

    <!--<h2>{{credits.localization.title}}</h2>-->
    <!--<ul>-->
    <!--</ul>-->

    <h2>{{credits.texturepack.title}}</h2>
    <ul>
        <li>
            <a href="http://refurin.deviantart.com/">Refurin</a> - <span>{{credits.texturepack.refurin}}</span>
        </li>
    </ul>

    <h2>{{credits.another.title}}</h2>
    <ul>
        <li><a href="https://github.com/Adaptivity">Adaptivity</a> - <span>{{credits.another.adaptivity}}</span></li>
    </ul>

    <!--<h2>{{credits.donate.title}}</h2>-->
    <!--<ul>-->
    <!--</ul>-->

    <p>{{credits.creditsForgot}}</p>
</div>