<div ng-controller="CreditsCtrl">
    <h1>{{credits.pageTitle}}</h1>
    <ul>
        <li>
            <a href="http://www.minecraftforum.net/members/metroidfood">Metroidfood</a> - <span>{{credits.metroidfood}}</span>
        </li>
        <li>
            <a href="http://www.minecraftforum.net/members/NightKosh">NightKosh</a> - <span>{{credits.nightkosh}}</span>
        </li>
    </ul>

    <h2>{{credits.code.title}}</h2>
    <ul>
        <li>
            <a href="https://github.com/Korosys">Korosys</a> - <span>{{credits.code.korosys}}</span>
        </li>
        <li>
            <a href="https://www.minecraftforum.net/members/RaustBlackDragon">RaustBlackDragon</a> - <span>{{credits.code.raustBlackDragon}}</span>
        </li>
        <li>
            <a href="https://github.com/DashieDev">DashieDev</a> - <span>{{credits.code.DashieDev}}</span>
        </li>
    </ul>

    <!--<h2>{{credits.textures.title}}</h2>-->
    <!--<ul>-->
    <!--</ul>-->

    <h2>{{credits.sound.title}}</h2>
    <ul>
        <li>
            <a href="https://freesound.org/people/Seidhepriest/sounds/171205/">Seidhepriest</a> - <span>{{credits.sound.seidhepriest_whistle}}</span>
        </li>
        <li>
            <a href="https://freesound.org/people/joedeshon/sounds/78508/">Joedeshon</a> - <span>{{credits.sound.joedeshon_whistle}}</span>
        </li>
    </ul>

    <h2>{{credits.localization.title}}</h2>
    <ul>
        <li>
            <a href="https://github.com/ACGaming">ACGaming</a> - <span>{{credits.localization.translation.german}}</span>
        </li>
        <li>
            <a href="https://github.com/Tititesouris">Tititesouris</a> - <span>{{credits.localization.translation.french}}</span>
        </li>
        <li>
            <a href="https://github.com/FedeX15">FedeX15</a> - <span>{{credits.localization.translation.italian}}</span>
        </li>
        <li>
            <a href="https://github.com/violetasdev">Violetasdev</a> - <span>{{credits.localization.translation.spanish}}</span>
        </li>
        <li>
            <a href="https://github.com/flyinglimao">Flyinglimao</a> - <span>{{credits.localization.translation.tChinese}}</span>
        </li>
        <li>
            <a href="https://github.com/SeanChengN">SeanChengN</a> - <span>{{credits.localization.translation.sChinese}}</span>
        </li>
        <li>
            <a href="https://github.com/jovanzers">Jovanzers</a> - <span>{{credits.localization.translation.indonesian}}</span>
        </li>
        <li>
            <a href="https://github.com/DashieDev">DashieDev</a> - <span>{{credits.localization.translation.vietnamese}}</span>
        </li>
    </ul>

    <h2>{{credits.texturepack.title}}</h2>
    <ul>
        <li>
            <a href="http://refurin.deviantart.com/">Refurin</a> - <span>{{credits.texturepack.refurin}}</span>
        </li>
    </ul>

    <h2>{{credits.another.title}}</h2>
    <ul>
        <li><a href="https://github.com/Adaptivity">Adaptivity</a> - <span>{{credits.another.adaptivity}}</span></li>
    </ul>

    <!--<h2>{{credits.donate.title}}</h2>-->
    <!--<ul>-->
    <!--</ul>-->

    <p>{{credits.creditsForgot}}</p>
</div>