<div ng-controller="ReviewCtrl">
    <h2>{{review.pageTitle}}</h2>

    <p>{{review.reviewWarning}}</p>

    <h3>{{review.reviewEn}}</h3>
    <ul class="video">
        <li ng-repeat="video in review.video.en">
            <div class="player" ng-switch="video.playing">
                <div class="preview_container" ng-switch-default>
                    <img class="preview" ng-src="{{video.previewUrl}}"/>

                    <div class="play_icon" ng-click="loadVideo(video)"></div>
                </div>
                <youtube-video video-id="video.url" player-width="'575px'" player-height="'323px'"
                               player-vars="playerVars" ng-switch-when="true" class="youtube"></youtube-video>
            </div>
        </li>
    </ul>

    </br>

    <h3 class="margin_top_30">{{review.reviewRu}}</h3>
    <ul class="video">
        <li ng-repeat="video in review.video.ru">
            <div class="player" ng-switch="video.playing">
                <div class="preview_container" ng-switch-default>
                    <img class="preview" ng-src="{{video.previewUrl}}"/>

                    <div class="play_icon" ng-click="loadVideo(video)"></div>
                </div>
                <youtube-video video-id="video.url" player-width="'575px'" player-height="'323px'"
                               player-vars="playerVars" ng-switch-when="true" class="youtube"></youtube-video>
            </div>
        </li>
    </ul>
</div>