<div ng-controller="AboutCtrl">
    <h2>{{about.title}}</h2>

    <p>{{about.line1}}</p>
    <p>{{about.line2}}</p>
    <p>{{about.line3}}</p>

    <h3>{{about.zoologist.title}}</h3>
    <p>{{about.zoologist.line1}}</p>
    <p>{{about.zoologist.line2}}</p>
    <p>{{about.zoologist.line3}}</p>

    <nk-gallery data="about.zoologistImg"></nk-gallery>

    <h3>{{about.commands.title}}</h3>
    <p>{{about.commands.line1}}</p>
    <ul>
        <li>{{about.commands.line2}}</li>
        <li>{{about.commands.line3}}</li>
        <li>{{about.commands.line4}}</li>
    </ul>

    <nk-gallery data="about.commandsImg"></nk-gallery>

    <h3>{{about.nametags.title}}</h3>
    <p>{{about.nametags.line1}}</p>
    <p>{{about.nametags.line2}}</p>

    <nk-gallery data="about.nametagsImg"></nk-gallery>

    <h3>{{about.breeding.title}}</h3>
    <p>{{about.breeding.line1}}</p>

    <nk-gallery data="about.breedingImg"></nk-gallery>

    <h3>{{about.biomeWolves.title}}</h3>
    <p>{{about.biomeWolves.line1}}</p>

    <nk-gallery data="about.biomeWolvesImg"></nk-gallery>

    <h3>{{about.creeper.title}}</h3>
    <p>{{about.creeper.line1}}</p>
    <p>{{about.creeper.line2}}</p>

    <nk-gallery data="about.creeperImg"></nk-gallery>

    <h3>{{about.evil.title}}</h3>
    <p>{{about.evil.line1}}</p>

    <h3>{{about.extinguishing.title}}</h3>
    <p>{{about.extinguishing.line1}}</p>
    <p>{{about.extinguishing.line2}}</p>

    <nk-gallery data="about.extinguishingImg"></nk-gallery>

    <h3>{{about.waterproof.title}}</h3>
    <p>{{about.waterproof.line1}}</p>

    <h3>{{about.cacti.title}}</h3>
    <p>{{about.cacti.line1}}</p>

    <h3>{{about.collision.title}}</h3>
    <p>{{about.collision.line1}}</p>

    <h3>{{about.friendlyFire.title}}</h3>
    <p>{{about.friendlyFire.line1}}</p>

    <h3>{{about.respawn.title}}</h3>
    <p>{{about.respawn.line0}}</p>
    <p>{{about.respawn.line1}}</p>
    <p>{{about.respawn.line2}}</p>

    <h3>{{about.feeding.title}}</h3>
    <p>{{about.feeding.line1}}</p>
    <p>{{about.feeding.line2}}</p>
    <p>{{about.feeding.line3}}</p>

    <nk-gallery data="about.feedingImg"></nk-gallery>

    <h3>{{about.transporting.title}}</h3>
    <p>{{about.transporting.line1}}</p>

    <nk-gallery data="about.transportingImg"></nk-gallery>

    <h3>{{about.canceling.title}}</h3>
    <p>{{about.canceling.line1}}</p>
    <p>{{about.canceling.line2}}</p>

    <nk-gallery data="about.cancelingImg"></nk-gallery>

    <h3>{{about.sheep.title}}</h3>
    <p>{{about.sheep.line0}}</p>
    <p>{{about.sheep.line1}}</p>

    <h3>{{about.mining.title}}</h3>
    <p>{{about.mining.line1}}</p>

    <h3>{{about.tweak.title}}</h3>
    <p>{{about.tweak.line1}}</p>

    <h3>{{about.miscellaneous.title}}</h3>
    <p>{{about.miscellaneous.line1}}</p>


</div>