
<div ng-controller="DownloadCtrl">
    <h2>{{download.page_title}}</h2>

    <h3>Minecraft 1.12.2</h3>
    <iframe class="download_widget" src="http://widget.mcf.li/mc-mods/minecraft/220495-sophisticated-wolves?version=1.12.2"></iframe>

    <h3>Minecraft 1.11.2</h3>
    <iframe class="download_widget" src="http://widget.mcf.li/mc-mods/minecraft/220495-sophisticated-wolves?version=1.11.2"></iframe>

    <h3>Minecraft 1.10.2</h3>
    <iframe class="download_widget" src="http://widget.mcf.li/mc-mods/minecraft/220495-sophisticated-wolves?version=1.10.2"></iframe>

    <h3>Minecraft 1.9.4</h3>
    <iframe class="download_widget" src="http://widget.mcf.li/mc-mods/minecraft/220495-sophisticated-wolves?version=1.9.4"></iframe>

    <h3>Minecraft 1.8.9</h3>
    <iframe class="download_widget" src="http://widget.mcf.li/mc-mods/minecraft/220495-sophisticated-wolves?version=1.8.9"></iframe>

    <h3>Minecraft 1.7.10</h3>
    <iframe class="download_widget" src="http://widget.mcf.li/mc-mods/minecraft/220495-sophisticated-wolves?version=1.7.10"></iframe>

    <h3>{{download.installation_title}}</h3>
    <ul>
        <li>
            <span>{{download.installation_line1}}</span>
            <a href="http://files.minecraftforge.net/" target="_blank">Forge</a>
        </li>
        <li>{{download.installation_line2}}</li>
    </ul>

    <h3>{{download.texturepack_title}}</h3>
    <iframe class="download_widget" id ="refurins_textures"
            src="https://widget.mcf.li/texture-packs/minecraft/243484-refurins-32x-items-textures-for-sophisticated?version="></iframe>
</div>
