<div ng-controller="ChangeLogCtrl">
    <h2>{{log.title}}</h2>

    <h3>4.0.0</h3>
    <ul>
        <li>{{log.v4_0_0.line1}}</li>
        <li>{{log.v4_0_0.line2}}</li>
        <li>{{log.v4_0_0.line3}}</li>
    </ul>

    <h3>3.6.5</h3>
    <ul>
        <li>{{log.v3_6_5.line1}}</li>
        <li>{{log.v3_6_5.line2}}</li>
    </ul>

    <h3>3.6.4</h3>
    <ul>
        <li>{{log.v3_6_4.line1}}</li>
        <li>{{log.v3_6_4.line2}}</li>
    </ul>

    <h3>3.6.3</h3>
    <ul>
        <li>{{log.v3_6_3.line1}}</li>
    </ul>

    <h3>3.6.2</h3>
    <ul>
        <li>{{log.v3_6_2.line1}}</li>
    </ul>

    <h3>3.6.1</h3>
    <ul>
        <li>{{log.v3_6_1.line1}}</li>
        <li>{{log.v3_6_1.line2}}</li>
        <li>{{log.v3_6_1.line3}}</li>
        <li>{{log.v3_6_1.line4}}</li>
    </ul>

    <h3>3.6.0</h3>
    <ul>
        <li>{{log.v3_6_0.line1}}</li>
    </ul>

    <h3>3.5.0</h3>
    <ul>
        <li>{{log.v3_5_0.line1}}</li>
        <li>{{log.v3_5_0.line2}}</li>
        <li>{{log.v3_5_0.line3}}</li>
    </ul>

    <h3>3.4.1</h3>
    <ul>
        <li>{{log.v3_4_1.line1}}</li>
        <li>{{log.v3_4_1.line2}}</li>
    </ul>


    <h3>3.4.0</h3>
    <ul>
        <li>{{log.v3_4_0.line1}}</li>
        <li>{{log.v3_4_0.line2}}</li>
    </ul>


    <h3>3.3.0</h3>
    <ul>
        <li>{{log.v3_3_0.line1}}</li>
        <li>{{log.v3_3_0.line2}}</li>
        <li>{{log.v3_3_0.line3}}</li>
        <li>{{log.v3_3_0.line4}}</li>
    </ul>


    <h3>3.2.0</h3>
    <ul>
        <li>{{log.v3_2_0.line1}}</li>
        <li>{{log.v3_2_0.line2}}</li>
        <li>{{log.v3_2_0.line3}}</li>
    </ul>


    <h3>3.1.0</h3>
    <ul>
        <li>{{log.v3_1_0.line1}}</li>
        <li>{{log.v3_1_0.line2}}</li>
    </ul>


    <h3>3.0.3</h3>
    <ul>
        <li>{{log.v3_0_3.line1}}</li>
        <li>{{log.v3_0_3.line2}}</li>
        <li>{{log.v3_0_3.line3}}</li>
        <li>{{log.v3_0_3.line4}}</li>
    </ul>


    <h3>3.0.2</h3>
    <ul>
        <li>{{log.v3_0_2.line1}}</li>
        <li>{{log.v3_0_2.line2}}</li>
    </ul>

    <h3>3.0.0</h3>
    <ul>
        <li>{{log.v3_0_0.line1}}</li>
        <li>{{log.v3_0_0.line2}}</li>
        <li>{{log.v3_0_0.line3}}</li>
        <li>{{log.v3_0_0.line4}}</li>
        <li>{{log.v3_0_0.line5}}</li>
    </ul>

    <h3>{{log.old.title}}</h3>
    <p>{{log.old.line1}} <a href="http://www.minecraftforum.net/topic/579177-162ssp-sophisticated-wolves-v220/" target="_blank">{{log.old.link}}</a> {{log.old.line2}}</p>

</div>