<ul ng-controller="FaqMenuCtrl">
    <li>
        <a href="https://github.com/NightKosh/Sophisticated-wolves-API" target="_blank">API</a>
    </li>
    <li>
        <a href="https://github.com/NightKosh/Sophisticated-wolves/issues"
           target="_blank">{{faqMenu.bugtracker}}</a>
    </li>
    <li>
        <a href="https://github.com/NightKosh/Sophisticated-wolves/tree/master/src/main/resources/assets/sophisticatedwolves/lang"
           target="_blank">{{faqMenu.localization}}</a>
    </li>
    <li>
        <a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1288717"
           target="_blank">{{faqMenu.forum}}</a>
    </li>
</ul>